<div class="card white">
    <div class="card-content grey-text">
        {{#ssc-review-edit
        title="Stop Start Continue Review"
        reviewee="Christopher Nolan"
        reviewee-title="Senior Software Engineer"
        reviewer="Theresa Repta"
        reviewer-title="Senior Software Engineer"
        review-period="2016 Q4"
        }}
        {{/ssc-review-edit}}
    </div>
</div>