<div class="card white">
    <div class="card-content grey-text">
        <h5 class="card-title">{{title}}<a class="waves-effect waves-light btn right">NEW</a></h5>
        <div class="divider"></div>
        <div class="section">
            <table>
                <thead>
                <tr>
                    <th data-field="reviewee">Reviewee</th>
                    <th data-field="req_date">Requested Date</th>
                    <th data-field="due_date">Due Date</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td><a href="#">Christopher Nolden</a></td>
                    <td>March 6, 2017</td>
                    <td>March 31, 2017</td>
                </tr>
                <tr>
                    <td colspan="3" class="right-align">
                        <table>
                            <thead>
                            <tr>
                                <th data-field="reviewer">Reviewer</th>
                                <th data-field="status">Status</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><a href="#">Theresa Repta</a></td>
                                <td>Ready for Admin Review</td>
                            </tr>
                            <tr>
                                <td><a href="#">Amy Lavery</a></td>
                                <td>Pending</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">Katrina Kasten</a></td>
                    <td>March 15, 2017</td>
                    <td>April 10, 2017</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{yield}}