<nav>
    <div class="nav-wrapper grey lighten-2">
        <div class="row black-text">
            <div class="bt-logo col s4 left-align">{{logo}}</div>
            <div class="app-logo col s4 center-align">{{title}}</div>
            <div class="user-name col s4 right-align">{{username}}</div>
        </div>
    </div>
</nav>
{{yield}}